.generic-content-container{

 p {
     line-height: 1.7;
     margin: 1.2rem 0;

     @mixin atSmall {
         font-size: 1.125rem;
     }
 }   

 p a {
     font-weight: 700;
 }

}


/*browser default font size is 16px
font weight of 400 is normal*/
